<div>
  <h1>{{classroom.name}}</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for roll in classroom.rolls.all %}
      <tr>
        <td>
          <a href="{% url 'sms:detail_student' pk=roll.pk %}">{{roll.pk}}</a>
        </td>
        <td>{{roll.student.username}}</td>
        <td>{{roll.student.username}}</td>
        <td>
          <a href="#">Edit</a>
          <a href="#">Del</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
