<div>
  <h1>{{classroom.name}}</h1>
  <table>
    <thead>
      <tr>
        <th>Code ID</th>
        <th>Full Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for roll in classroom.rolls.all %}
      <tr>
        <td>
          <a href="{% url 'sms:detail_student' pk=roll.pk %}"
            >{{roll.student.username}}</a
          >
        </td>
        <td>
          {{roll.student.profile.first_name}}
          {{roll.student.profile.first_name}}
        </td>
        <td>
          <a href="#">Edit</a>
          <a href="#">Del</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
