<tr>
  List Grades
</tr>

<div>
  <form method="get">{% csrf_token %}</form>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>subject</th>
        <th>ACS 1</th>
        <th>ACS 2</th>
        <th>MACS</th>
        <th>ACP</th>
        <th>ACS 1</th>
        <th>ACS 2</th>
        <th>MACS</th>
        <th>ACP</th>
        <th>ACS 1</th>
        <th>ACS 2</th>
        <th>MACS</th>
        <th>ACP</th>
        <th>MT-A</th>
        <th>MT-B</th>
        <th>MT-C</th>
      </tr>
    </thead>
    <tbody>
      {% for g in grades %}
      <tr>
        <td>{{g.student}}</td>
        <td>{{g.subject}}</td>
        <td>{{g.a.test_1}}</td>
        <td>{{g.a.test_2}}</td>
        <td>{{g.a.test_average}}</td>
        <td>{{g.a.exam}}</td>
        <td>{{g.b.test_1}}</td>
        <td>{{g.b.test_2}}</td>
        <td>{{g.b.test_average}}</td>
        <td>{{g.b.exam}}</td>
        <td>{{g.c.test_1}}</td>
        <td>{{g.c.test_2}}</td>
        <td>{{g.c.test_average}}</td>
        <td>{{g.c.exam}}</td>
        <td>{{g.a.section_average}}</td>
        <td>{{g.b.section_average}}</td>
        <td>{{g.c.section_average}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
