<form>
  {{form}}
  <button>submit</button>
</form>
<div>
  <table>
    <caption>
      List Students
    </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Course</th>
        <th>Classroom</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>
          <a href="{% url 'sms:detail_student' pk=student.pk %}">{{student}}</a>
        </td>
        <td>
          {{student.student.profile.first_name}}
          {{student.student.profile.last_name}}
        </td>
        <td>{{student.course}}</td>
        <td>{{student.classroom}}</td>
        <td>{{student.year}}</td>
        <td>
          <a href="{% url 'sms:edit_student' pk=student.pk%}">Edit</a>
          <a href="#">Del</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
