<form method="get">
  {{form}}
  <button>get</button>
</form>
<div>
  <table>
    <caption>
      List Teachers
    </caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Category</th>
        <th>Date Celebrate</th>
        <th>Date Start</th>
        <th>Status</th>
        <th>Date Close</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teachers %}
      <tr>
        <td>
          <a href="{% url 'sms:detail_teacher' pk=teacher.pk %}"
            >{{teacher.pk}}</a
          >
        </td>
        <td>{{teacher.teacher.profile.first_name}}</td>
        <td>{{teacher.teacher.profile.last_name}}</td>
        <td>{{teacher.category}}</td>
        <td>{{teacher.date_celebrate}}</td>
        <td>{{teacher.date_start}}</td>
        <td>{{teacher.status}}</td>
        <td>{{teacher.date_end}}</td>
        <td>
          <a href="#">Edit</a>
          <a href="#">Del</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
